@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #181818;
}

body.dark {
    background: #131313;
}

:root {
    --iconMenuFill: #eefee9;
    --iconMenuStroke: #85c328;
    --iconMenuFillActive: #8ede3e;
    --iconMenuStrokeActive: #d2fdb5;
    --iconMenuStrokeExtra: #a7e549;
    --unactiveMenuTextColor: #f0f7f1;
    --activeMenuTextColor: #f0f7f1;
    --userProfileColor1: transparent;
    --userProfileColor2: transparent;

}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;  
    height: 0.1rem;
}
.modal {
    font-family: system-ui;
}